@using LBPUnion.ProjectLighthouse.Extensions
@model LBPUnion.ProjectLighthouse.Servers.Website.Pages.Frames.PaginatedFrame

<!DOCTYPE html>

@{
    Model.IsMobile = Model.Request.IsMobile();
}

<html lang="en">
<head>
    <title>@Model.Title</title>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
    <link rel="stylesheet" type="text/css" href="~/css/semantic.min.css">
</head>
<body>
<div>
    @RenderBody()

    <div>
        @{
            string? url = Url.RouteUrl(ViewContext.RouteData.Values);
        }
         ]
        @if (Model.CurrentPage > 1)
        {
            <a href="@url?page=1">First Page</a>
            <text> | </text>
            <a href="@url?page=@(Model.CurrentPage - 1)">Previous Page</a>
        }
        Page @Model.CurrentPage / @Model.TotalPages
        @if (Model.CurrentPage < Model.TotalPages)
        {
            <a href="@url?page=@(Model.CurrentPage + 1)">Next Page</a>
            <text> | </text>
            <a href="@url?page=@Model.TotalPages">Last Page</a>
        }
    </div>
</div>
</body>
</html>