@page "/moderation/hiddenLevels/{pageNumber:int}"
@using LBPUnion.ProjectLighthouse.Extensions
@using LBPUnion.ProjectLighthouse.Localization.StringLists
@using LBPUnion.ProjectLighthouse.Servers.Website.Extensions
@using LBPUnion.ProjectLighthouse.Types.Entities.Level
@model LBPUnion.ProjectLighthouse.Servers.Website.Pages.Moderation.HiddenLevelsPage

@{
    Layout = "Layouts/BaseLayout";
    Model.Title = Model.Translate(ModPanelStrings.HiddenLevels);
    bool isMobile = Model.Request.IsMobile();
    string language = Model.GetLanguage();
    string timeZone = Model.GetTimeZone();
}

<p>There are @Model.SlotCount hidden levels.</p>

@foreach (SlotEntity slot in Model.Slots)
{
    <div class="ui segment">
        @await slot.ToHtml(Html, ViewData, Model.User, $"~/moderation/hiddenLevels/{Model.PageNumber}", language, timeZone, isMobile, true)
    </div>
}

@if (Model.PageNumber != 0)
{
    <a href="/moderation/hiddenLevels/@(Model.PageNumber - 1)">Previous Page</a>
}
@(Model.PageNumber + 1) / @(Model.PageAmount)
@if (Model.PageNumber < Model.PageAmount - 1)
{
    <a href="/moderation/hiddenLevels/@(Model.PageNumber + 1)">Next Page</a>
}