# Jetbrains Rider / Visual Studio junk
.idea/
/_ReSharper.Caches/
/.idea/.idea.ProjectLighthouse/.idea/workspace.xml
/.idea/.idea.ProjectLighthouse/.idea/dataSources/
/.idea/.idea.ProjectLighthouse/.idea/dataSources.local.xml
/ProjectLighthouse/ProjectLighthouse.csproj.user
*.sln.DotSettings.user
.vs/

# Visual Studio Code junk
ProjectLighthouse/.vscode/tasks.json
ProjectLighthouse/.vscode/launch.json
.vscode/tasks.json
.vscode/launch.json
.editorconfig
launchSettings.json

# macOS Junk
.DS_Store

# Lighthouse junk
riderModule.iml
r/
png/
/ProjectLighthouse/r/*
/ProjectLighthouse/logs/*
lighthouse.config.json
lighthouse.yml
lighthouse.yml.configme
gitBranch.txt
gitVersion.txt
gitRemotes.txt
gitUnpushed.txt
logs/*
npTicket*
r.tar.gz
lighthouse.yml.configme

# MSBuild stuff
bin/
obj/
/packages/

# Misc
*.bak
*.old
BACKUP*
backup*

*.tmp
*.bin