@page "/debug/newCase"
@using LBPUnion.ProjectLighthouse.Administration
@model LBPUnion.ProjectLighthouse.Servers.Website.Pages.Debug.NewCasePage

@{
    Layout = "Layouts/BaseLayout";
    Model.Title = "DEBUG - New Case";
}

<form method="post">
    @Html.AntiForgeryToken()
    <label for="type">Case Type: </label>
    <select name="type" id="type">
        @foreach (CaseType type in Enum.GetValues<CaseType>())
        {
            <option value="@((int)type)">@type.ToString()</option>
        }
    </select><br/>

    <label for="description">Description: </label>
    <input type="text" name="description" id="description"/><br/>

    <label for="expires">Expires: </label>
    <input type="datetime-local" name="expires" id="expires"/><br/>

    <label for="affected-id">Affected ID: </label>
    <input type="number" name="affectedId" id="affected-id"/><br/>

    <br/><input type="submit"/>
</form>