@using LBPUnion.ProjectLighthouse.Localization.StringLists
@{
    string error = (string?)ViewData["Error"] ?? "";
}

<div class="ui negative message">
    <div class="header">
        @Model.Translate(GeneralStrings.Error)
    </div>
    <p style="white-space: pre-line">@error</p>
</div>