div.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

div.main {
    flex: 1;
}

#lighthouse-debug-info > p {
    margin-bottom: 1px;
}

canvas.photo-subjects {
    opacity: 1;
    transition: opacity 0.3s;
    pointer-events: none;
}

canvas.hide-subjects {
    opacity: 0;
    pointer-events: none;
}

/*#region Cards*/

.card {
    display: flex;
    width: 100%;
}

.cardIcon {
    margin-right: 10px;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    object-fit: cover;
}

.cardStats {
    height: fit-content;
    vertical-align: center;
    align-self: center
}

.cardStats > h1,
.cardStats > h2 {
    margin-bottom: 2px;
}

.cardButtons {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
}

.cardButtons > a {
    margin-bottom: 5px !important;
    vertical-align: center;
}

.cardStatsUnderTitle {
    margin-bottom: 10px;
}

div.cardStatsUnderTitle > i {
    margin-right: 2px;
}

div.cardStatsUnderTitle > span {
    margin-right: 5px;
}

/*#region Slot cards*/

.slotCardIcon {
    border-radius: 100%;
}

/*#endregion Slot cards*/

/*#region User cards*/

.userCardIcon {
    border-radius: .28571429rem;
}


/*#endregion User cards*/

/*#endregion Cards*/

/*#region Comments*/

.comment {
    width: 100%;
    display: inline-block;
    text-align: left;
}

.voting {
    text-align: center;
    display: inline-block;
    float: left;
    margin-right: 0.5em;
}

/*#endregion Comments*/