div.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

div.main {
    flex: 1;
}

div.statsUnderTitle > i {
    margin-right: 2px;
}

div.statsUnderTitle > span {
    margin-right: 5px;
}

#lighthouse-debug-info > p {
    margin-bottom: 1px;
}