[Unit]
Description=Project Lighthouse GameServer - a clean-room, open-source custom server for LBP
Documentation=https://github.com/LBPUnion/ProjectLighthouse

[Service]
Type=simple
ExecStart=bash -c "/srv/lighthouse/start.sh GameServer"
TimeoutStopSec=15
User=lighthouse

[Install]
Alias=lighthouse-website
WantedBy=multi-user.target