@page "/authentication"
@using LBPUnion.ProjectLighthouse.Types
@model LBPUnion.ProjectLighthouse.Pages.ExternalAuth.AuthenticationPage

@{
    Layout = "Layouts/BaseLayout";
}
<h1>Authentication</h1>
@foreach (AuthenticationAttempt authAttempt in Model.AuthenticationAttempts)
{
    <div class="ui red segment">
        <p>A <b>@authAttempt.Platform</b> authentication request was logged at <b>@authAttempt.Timestamp</b> from the IP address <b>@authAttempt.IPAddress</b>.</p>
        <div>
            <a href="/authentication/approve/1">
                <button class="ui tiny green button">Approve</button>
            </a>
            <a href="/authentication/deny/1">
                <button class="ui tiny red button">Deny</button>
            </a>
        </div>
    </div>
}