@page "/"
@model LBPUnion.ProjectLighthouse.Pages.ExternalAuth.LandingPage

@{
    Layout = "Layouts/BaseLayout";
}
<h1>Welcome to <b>Project Lighthouse</b>!</h1>

@if (Model.User != null)
{
    <p>You are currently logged in as <b>@Model.User.Username</b>.</p>
}