@page "/login"
@model LBPUnion.ProjectLighthouse.Pages.ExternalAuth.LoginForm

@{
    Layout = "Layouts/BaseLayout";
}
<form>
    <input type="text" name="username"><br>
    <input type="password" name="password" aria-label="Password"><br>
    <input type="submit"><br>
</form>