@page "/logout"
@model LBPUnion.ProjectLighthouse.Pages.ExternalAuth.LogoutPage

@{
    Layout = "Layouts/BaseLayout";
}

<p>You have been successfully logged out. You will be redirected in 5 seconds, or you may click <a href="/">here</a> to do so manually.</p>
<meta http-equiv="refresh" content="5; url=/"/>