@page "/register"
@model LBPUnion.ProjectLighthouse.Pages.ExternalAuth.RegisterForm

@{
    Layout = "Layouts/BaseLayout";
}

<script src="https://geraintluff.github.io/sha256/sha256.min.js"></script>

<script>
    function onSubmit(form) {
        const password = form['password'];
        const confirmPassword = form['confirmPassword'];
        
        password.value = sha256(password.value);
        confirmPassword.value = sha256(confirmPassword.value);
        
        return true;
    }
</script>


<h1>Register</h1>
<form onsubmit="return onSubmit(this)">
    <label for="text">Username: </label>
    <input type="text" name="username" id="text"><br>

    <label for="password">Password: </label>
    <input type="password" name="password" id="password"><br>

    <label for="password">Confirm Password: </label>
    <input type="password" name="confirmPassword" id="confirmPassword"><br>

    <input type="submit" value="Register" id="submit"><br>
</form>