@using LBPUnion.ProjectLighthouse.Localization
@model LBPUnion.ProjectLighthouse.PlayerData.Profiles.User

@{
    string language = (string?)ViewData["Language"] ?? LocalizationManager.DefaultLang;
    bool includeStatus = (bool?)ViewData["IncludeStatus"] ?? false;
    string userStatus = includeStatus ? Model.Status.ToTranslatedString(language) : "";
}

<a href="/user/@Model.UserId" title="@userStatus" class="user-link">
    <img src="/gameAssets/@Model.WebsiteAvatarHash" alt=""/>
    @Model.Username
</a>