@using LBPUnion.ProjectLighthouse.Localization
@model LBPUnion.ProjectLighthouse.PlayerData.Profiles.User

@{
    string language = (string?)ViewData["Language"] ?? LocalizationManager.DefaultLang;
    string status = "";
    if ((bool)(ViewData["IncludeStatus"] ?? false))
    {
        status = Model.Status.ToTranslatedString(language);
    }
}

<a href="/user/@Model.UserId" title="@status" class="user-link">
    <img src="/gameAssets/@Model.WebsiteAvatarHash" alt=""/>
    @Model.Username
</a>