@using LBPUnion.ProjectLighthouse.Database
@using LBPUnion.ProjectLighthouse.Localization
@using LBPUnion.ProjectLighthouse.Servers.Website.Extensions
@using LBPUnion.ProjectLighthouse.Types.Entities.Profile
@model UserEntity
@inject DatabaseContext Database

@{
    string language = (string?)ViewData["Language"] ?? LocalizationManager.DefaultLang;
    string timeZone = (string?)ViewData["TimeZone"] ?? TimeZoneInfo.Local.Id;
    bool includeStatus = (bool?)ViewData["IncludeStatus"] ?? false;
    string userStatus = includeStatus ? Model.GetStatus(Database).ToTranslatedString(language, timeZone) : "";
}

<a href="/user/@Model.UserId" title="@userStatus" class="user-link">
    <img src="/gameAssets/@Model.WebsiteAvatarHash" alt=""/>

    @if (Model.IsModerator)
    {
        <span style="color: @Model.PermissionLevel.ToHtmlColor(); font-weight: 600;">
            @Model.Username
        </span>
    }
    else
    {
        @Model.Username
    }

</a>