@page "/login"
@using LBPUnion.ProjectLighthouse.Types.Settings
@model LBPUnion.ProjectLighthouse.Pages.LoginForm

@{
    Layout = "Layouts/BaseLayout";
    Model.Title = "Log in";
}

<script src="https://geraintluff.github.io/sha256/sha256.min.js"></script>

<script>
    function onSubmit(form) {
        const password = form['password'];
        
        password.value = sha256(password.value);
        
        return true;
    }
</script>

@if (!string.IsNullOrWhiteSpace(Model.Error))
{
    <div class="ui negative message">
        <div class="header">
            Uh oh!
        </div>
        <p style="white-space: pre-line">@Model.Error</p>
    </div>
}

<form class="ui form" onsubmit="return onSubmit(this)" method="post">
    @Html.AntiForgeryToken()

    <div class="field">
        <label>Username</label>
        <div class="ui left icon input">
            <input type="text" name="username" id="text" placeholder="Username">
            <i class="user icon"></i>
        </div>
    </div>

    <div class="field">
        <label>Password</label>
        <div class="ui left icon input">
            <input type="password" name="password" id="password" placeholder="Password">
            <i class="lock icon"></i>
        </div>
    </div>

    <input type="submit" value="Log in" id="submit" class="ui blue button">
    @if (ServerSettings.Instance.RegistrationEnabled)
    {
        <a href="/register">
            <div class="ui button">
                <i class="user alternate add icon"></i>
                Register
            </div>
        </a>
    }
</form>