@page "/passwordReset"
@model LBPUnion.ProjectLighthouse.Pages.PasswordResetPage

@{
    Layout = "Layouts/BaseLayout";
    Model.Title = "Password Reset";
}

<script src="https://geraintluff.github.io/sha256/sha256.min.js"></script>

<script>
    function onSubmit(form) {
        const password = form['password'];
        const confirmPassword = form['confirmPassword'];
        
        password.value = sha256(password.value);
        confirmPassword.value = sha256(confirmPassword.value);
        
        return true;
    }
</script>

@if (!string.IsNullOrWhiteSpace(Model.Error))
{
    <div class="ui negative message">
        <div class="header">
            Uh oh!
        </div>
        <p>@Model.Error</p>
    </div>
}

<form onsubmit="return onSubmit(this)" method="post">
    @Html.AntiForgeryToken()

    <div class="ui left labeled input">
        <label for="password" class="ui blue label">Password: </label>
        <input type="password" name="password" id="password">
    </div><br><br>

    <div class="ui left labeled input">
        <label for="password" class="ui blue label">Confirm Password: </label>
        <input type="password" name="confirmPassword" id="confirmPassword">
    </div><br><br><br>

    <input type="submit" value="Reset password and continue" id="submit" class="ui green button"><br>
</form>