@page "/passwordResetRequired"
@model LBPUnion.ProjectLighthouse.Pages.PasswordResetRequiredPage

@{
    Layout = "Layouts/BaseLayout";
    Model.Title = "Password Reset Required";
}

<p>An admin has deemed it necessary that you reset your password. Please do so.</p>

<a href="/passwordReset">
    <div class="ui blue button">Reset Password</div>
</a>