@page "/passwordReset"
@model LBPUnion.ProjectLighthouse.Pages.PasswordResetPage

@{
    Layout = "Layouts/BaseLayout";
    Model.Title = "Password Reset";
}

<script src="https://geraintluff.github.io/sha256/sha256.min.js"></script>

<script>
    function onSubmit(form) {
        const passwordInput = document.getElementById("password");
        const confirmPasswordInput = document.getElementById("confirmPassword");
        const passwordSubmit = document.getElementById("password-submit");
        const confirmPasswordSubmit = document.getElementById("confirmPassword-submit");
        
        passwordSubmit.value = sha256(passwordInput.value);
        confirmPasswordSubmit.value = sha256(confirmPasswordInput.value);
        
        return true;
    }
</script>

@if (!string.IsNullOrWhiteSpace(Model.Error))
{
    <div class="ui negative message">
        <div class="header">
            Uh oh!
        </div>
        <p>@Model.Error</p>
    </div>
}

<form onsubmit="return onSubmit(this)" method="post">
    @Html.AntiForgeryToken()

    <div class="ui left labeled input">
        <label for="password" class="ui blue label">Password: </label>
        <input type="password" id="password">
        <input type="hidden" id="password-submit" name="password">
    </div><br><br>

    <div class="ui left labeled input">
        <label for="password" class="ui blue label">Confirm Password: </label>
        <input type="password" id="confirmPassword">
        <input type="hidden" id="confirmPassword-submit" name="confirmPassword">
    </div><br><br><br>

    <input type="submit" value="Reset password and continue" id="submit" class="ui green button"><br>
</form>