@page "/register"
@model LBPUnion.ProjectLighthouse.Pages.RegisterForm

@{
    Layout = "Layouts/BaseLayout";
    Model.Title = "Register";
}

<script src="https://geraintluff.github.io/sha256/sha256.min.js"></script>

<script>
    function onSubmit(form) {
        const password = form['password'];
        const confirmPassword = form['confirmPassword'];
        
        password.value = sha256(password.value);
        confirmPassword.value = sha256(confirmPassword.value);
        
        return true;
    }
</script>

@if (!string.IsNullOrWhiteSpace(Model.Error))
{
    <div class="ui negative message">
        <div class="header">
            Uh oh!
        </div>
        <p>@Model.Error</p>
    </div>
}

<form class="ui form" onsubmit="return onSubmit(this)" method="post">
    @Html.AntiForgeryToken()

    <div class="field">
        <label>Username</label>
        <div class="ui left icon input">
            <input type="text" name="username" id="text" placeholder="Username">
            <i class="user icon"></i>
        </div>
    </div>

    <div class="field">
        <label>Password</label>
        <div class="ui left icon input">
            <input type="password" name="password" id="password" placeholder="Password">
            <i class="lock icon"></i>
        </div>
    </div>

    <div class="field">
        <label>Confirm Password</label>
        <div class="ui left icon input">
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
            <i class="lock icon"></i>
        </div>
    </div>

    <input type="submit" value="Register" id="submit" class="ui green button">
</form>