@page "/slots/{pageNumber:int}"
@using LBPUnion.ProjectLighthouse.Types.Levels
@model LBPUnion.ProjectLighthouse.Pages.SlotsPage

@{
    Layout = "Layouts/BaseLayout";
    Model.Title = "Levels";
}

<p>There are @Model.SlotCount total levels!</p>

@foreach (Slot slot in Model.Slots)
{
    <div class="ui segment">
        @await Html.PartialAsync("Partials/SlotCardPartial", slot, new ViewDataDictionary(ViewData)
        {
            {
                "User", Model.User
            },
            {
                "CallbackUrl", $"~/slots/{Model.PageNumber}"
            },
            {
                "ShowLink", true
            },
        })
    </div>
}

@if (Model.PageNumber != 0)
{
    <a href="/slots/@(Model.PageNumber - 1)">Previous Page</a>
}
@(Model.PageNumber + 1) / @(Model.PageAmount)
@if (Model.PageNumber < Model.PageAmount - 1) 
{
    <a href="/slots/@(Model.PageNumber + 1)">Next Page</a>
}
