@page "/login/sendVerificationEmail"
@model LBPUnion.ProjectLighthouse.Servers.Website.Pages.SendVerificationEmailPage

@{
    Layout = "Layouts/BaseLayout";
    Model.Title = "Verify Email Address";
}

@if (Model.Success)
{
    <p>An email address on your account has been set, but hasn't been verified yet.</p>
    <p>To verify it, check the email sent to <a href="mailto:@Model.User?.EmailAddress">@Model.User?.EmailAddress</a> and click the link in the email.</p>
}
else
{
    <p>Failed to send email, please try again later.</p>
    <p>If this issue persists please contact an Administrator</p>
}

<a href="/login/sendVerificationEmail">
    <div class="ui blue button">Resend email</div>
</a>