@page "/users/{pageNumber:int}"
@using LBPUnion.ProjectLighthouse.Extensions
@using LBPUnion.ProjectLighthouse.Localization.StringLists
@using LBPUnion.ProjectLighthouse.Types.Entities.Profile
@model LBPUnion.ProjectLighthouse.Servers.Website.Pages.UsersPage

@{
    Layout = "Layouts/BaseLayout";
    Model.Title = Model.Translate(BaseLayoutStrings.HeaderUsers);
    bool isMobile = Model.Request.IsMobile();
}

<p>There are @Model.UserCount total users.</p>

<form action="/users/0">
    <div class="ui icon input">
        <input type="text" autocomplete="off" name="name" placeholder="Search users..." value="@Model.SearchValue">
        <i class="search icon"></i>
    </div>
</form>
<div class="ui divider"></div>

@foreach (UserEntity user in Model.Users)
{
    <div class="ui segment">
        @await Html.PartialAsync("Partials/UserCardPartial", user, new ViewDataDictionary(ViewData)
        {
            {
                "ShowLink", true
            },
            {
                "IsMobile", isMobile
            },
            {
                "Language", Model.GetLanguage()
            },
            {
                "TimeZone", Model.GetTimeZone()
            },
        })
    </div>
}

@if (Model.PageNumber != 0)
{
    <a href="/users/@(Model.PageNumber - 1)@(Model.SearchValue?.Length == 0 ? "" : "?name=" + Model.SearchValue)">Previous Page</a>
}
@(Model.PageNumber + 1) / @(Model.PageAmount)
@if (Model.PageNumber < Model.PageAmount - 1)
{
    <a href="/users/@(Model.PageNumber + 1)@(Model.SearchValue?.Length == 0 ? "" : "?name=" + Model.SearchValue)">Next Page</a>
}