@page "/404"
@model LBPUnion.ProjectLighthouse.Servers.Website.Pages.Errors.NotFoundPage

@{
    Layout = "Layouts/BaseLayout";
    Model.Title = "Not Found";
    Model.Description = "Sorry, but the page you requested could not be found.";
}

<p>@Model.Description</p>
<p>Take a peek at the <a href="/">homepage</a> to see if you can find what you were looking for.</p>
