@page "/404"
@model LBPUnion.ProjectLighthouse.Servers.Website.Pages.Errors.NotFoundPage

@{
    Layout = "Layouts/BaseLayout";
    Model.Title = "Not Found";
    Model.Description = "The requested page was not found.";
}

<p>@Model.Description</p>
<p>You may need to <a href="/login">sign in</a> to access the requested page.</p>