@page "/404"
@model LBPUnion.ProjectLighthouse.Servers.Website.Pages.Errors.NotFoundPage

@{
    Layout = "Layouts/BaseLayout";
    Model.Title = "Not Found";
    Model.Description = "The requested page or resource could not be found.";
}

<p>@Model.Description</p>
<p>You may need to sign in to view this page.</p>
